h2 {
  margin-bottom: 1.5rem;
}

h6 {
  margin: 0 !important;
  padding: 0.5rem 0 !important;
}

body {
  background-image: url('../images/game_background_play.png');
}

input {
  border-radius: 0 !important;
  border: none !important;
}
